* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, p{
    text-align: center;
}
img{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------Dark/Light Mode--------------------------------*/
body.light-mode{
    background-color: white;
    color: black;
}

body.light-mode nav, body.light-mode footer{
    background-color: antiquewhite;
    color: black;
}
/*--------------------------------Body--------------------------------*/
body{
    background-color: #181818;
    color: white;
    flex-direction: column;
    min-height: 100vh;
}
#wrapper{
    display: flex;
}
#sidebar{
    width: 60px;
}
nav {
    background-color: #282828;
    padding: 10px;

}
#content{

}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
}
header {
    padding: 20px;
}
main {
    padding: 20px;
    flex-grow: 1;
}
footer {
    background-color: #282828;
    padding: 10px;
    text-align: center;
}